<div class="page-header">
	<h1>界面元素
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>通用页面功能及元素</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-sm-6">
				<uib-tabset ng-show="tabShown">
					<uib-tab>
						<uib-tab-heading>
							<i class="green ace-icon fa fa-home bigger-120"></i>首页
						</uib-tab-heading>
						<p>首页标签下的文本内容。</p>
					</uib-tab>

					<uib-tab>
						<uib-tab-heading>
							消息
							<span class="badge badge-danger">4</span>
						</uib-tab-heading>
						<p>消息标签下的文本内容。</p>
					</uib-tab>

					<uib-tab>
						<uib-tab-heading>
							更多 &nbsp;
							<i class="ace-icon fa fa-plus smaller-80 purple"></i>
						</uib-tab-heading>
						<p>更多标签下的文本内容。</p>
					</uib-tab>
				</uib-tabset>
			</div>
			<!-- /.col -->

			<div class="vspace-6-sm"></div>

			<div class="col-sm-6">
				<uib-tabset id="tab-below" ng-show="tabShown">
					<uib-tab heading="首页">
						<p>首页标签下的文本内容。</p>
					</uib-tab>

					<uib-tab heading="配置">
						<p>配置标签下的文本内容。</p>
					</uib-tab>

					<uib-tab heading="更多">
						<p>更多标签下的文本内容。</p>
					</uib-tab>
				</uib-tabset>
			</div>

		</div>
		<!-- /.row -->

		<div class="space"></div>

		<div class="row">
			<div class="col-sm-6">
				<uib-tabset id="tab-left" ng-show="tabShown">
					<uib-tab>
						<uib-tab-heading>
							<i class="pink ace-icon fa fa-tachometer bigger-110"></i> 首页</uib-tab-heading>
						<p>1. 首页标签下的文本内容一。</p>
						<p>首页标签下的文本内容二。</p>
					</uib-tab>

					<uib-tab>
						<uib-tab-heading>
							<i class="blue ace-icon fa fa-user bigger-110"></i> 配置</uib-tab-heading>
						<p>2. 配置标签下的文本内容一。</p>
						<p>配置标签下的文本内容二。</p>
					</uib-tab>

					<uib-tab>
						<uib-tab-heading>
							<i class="ace-icon fa fa-rocket"></i> 更多</uib-tab-heading>
						<p>3. 更多标签下的文本内容一。</p>
						<p>更多标签下的文本内容二。</p>
					</uib-tab>
				</uib-tabset>
			</div>
			<!-- /.col -->

			<div class="vspace-6-sm"></div>

			<div class="col-sm-6">
				<uib-tabset id="tab-color" ng-show="tabShown">
					<uib-tab heading="首页">
						<p>首页标签下的文本内容。</p>
					</uib-tab>

					<uib-tab heading="配置">
						<p>配置标签下的文本内容。</p>
					</uib-tab>

					<uib-tab heading="更多">
						<p>更多标签下的文本内容。</p>
					</uib-tab>
				</uib-tabset>
			</div>
			<!-- /.col -->

		</div>
		<!-- /.row -->

		<div class="hr hr-double hr-dotted hr18"></div>

		<div class="row">
			<div class="col-sm-6">
				<h3 class="row header smaller lighter blue">
					<span class="col-xs-6">
						可折叠消息
					</span>
					<!-- /.col -->
					<span class="col-xs-6">
						<span class="pull-right inline">
							<span class="grey smaller-80 bolder">样式:</span>
							<span class="btn-toolbar inline middle no-margin">
								<span id="accordion-style" data-toggle="buttons" class="btn-group no-margin">
									<label class="btn btn-xs btn-yellow active" ng-model="accordionStyle" uib-btn-radio="1">1</label>
									<label class="btn btn-xs btn-yellow" ng-model="accordionStyle" uib-btn-radio="2">2</label>
								</span>
							</span>
						</span>
					</span>
					<!-- /.col -->
				</h3>

				<div class="panel-group accordion-style1" ng-class="{'accordion-style2': accordionStyle == 2}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a href class="accordion-toggle" ng-class="{'collapsed': !isOpen[0]}" ng-click="toggleOpen(0)">
									<i class="ace-icon fa bigger-110" ng-class="{'fa-angle-down': isOpen[0], 'fa-angle-right': !isOpen[0]}"></i>
									&nbsp;消息项 #1
								</a>
							</h4>
						</div>
						<div class="panel-collapse" uib-collapse="!isOpen[0]">
							<div class="panel-body">
								消息项1下面的文本内容。
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a href class="accordion-toggle" ng-class="{'collapsed': !isOpen[1]}" ng-click="toggleOpen(1)">
									<i class="ace-icon fa bigger-110" ng-class="{'fa-angle-down': isOpen[1], 'fa-angle-right': !isOpen[1]}"></i>
									&nbsp;消息项 #2
								</a>
							</h4>
						</div>
						<div class="panel-collapse" uib-collapse="!isOpen[1]">
							<div class="panel-body">
								消息项2下面的文本内容。
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a href class="accordion-toggle" ng-class="{'collapsed': !isOpen[2]}" ng-click="toggleOpen(2)">
									<i class="ace-icon fa bigger-110" ng-class="{'fa-angle-down': isOpen[2], 'fa-angle-right': !isOpen[2]}"></i>
									&nbsp;消息项 #3
								</a>
							</h4>
						</div>
						<div class="panel-collapse" uib-collapse="!isOpen[2]">
							<div class="panel-body">
								消息项3下面的文本内容。
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.col -->

			<div class="col-sm-6">
				<h3 class="header smaller lighter green">进度条</h3>
				<div class="row">
					<div class="col-xs-8">
						<uib-progressbar value="66">66%</uib-progressbar>
						<uib-progressbar class="progress-striped" value="25" type="success"></uib-progressbar>

						<uib-progressbar class="progress-small progress-striped active" value="40" type="warning"></uib-progressbar>

						<uib-progressbar class="progress-mini" value="35"></uib-progressbar>

						<uib-progress value="25">
							<uib-bar type="success" value="35"></uib-bar>
							<uib-bar type="warning" value="20"></uib-bar>
							<uib-bar type="danger" value="10"></uib-bar>
						</uib-progress>

						<uib-progressbar class="progress-striped" value="65" type="purple"></uib-progressbar>
						<uib-progressbar class="progress-striped" value="40" type="pink"></uib-progressbar>
						<uib-progressbar class="progress-striped active" value="60" type="yellow"></uib-progressbar>
						<uib-progressbar class="progress-striped" value="80" type="inverse"></uib-progressbar>

					</div>
					<!-- /.col -->

					<div class="col-xs-4 center">
						<div ng-repeat="epchart in ::easypiechart">
							<div easypiechart class="easy-pie-chart percentage" options="epchart.options" percent="epchart.value" ng-style="{'color': epchart.options.barColor}">
								<span class="percent" ng-bind="epchart.value"></span>%
							</div>
							<hr ng-if="!$last" />
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

		<hr />

		<div class="row">
			<div class="col-sm-6">
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="smaller">提示
							<small>不同种类提示方向和颜色</small>
						</h4>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<p class="muted">
								从现在到二〇二〇年，是全面建成小康社会决胜期。从十九大到二十大，是
								<a uib-tooltip="两个一百年分别指建党100周年的2021年和建国100年的2049年。两个一百年目标是指：在中国共产党成立一百年时全面建成小康社会，在新中国成立一百年时建成富强民主文明和谐的社会主义现代化国家。" href="">“两个一百年”</a>奋斗目标的历史交汇期。
							</p>
							<hr />
							<p>
								<span class="btn btn-sm" uib-tooltip="默认色">默认</span>
								<span class="btn btn-warning btn-sm tooltip-warning" tooltip-placement="left" uib-tooltip="左面警告色">左面</span>
								<span class="btn btn-success btn-sm tooltip-success" tooltip-placement="right" uib-tooltip="右面成功色">右面</span>
								<span class="btn btn-danger btn-sm tooltip-error" tooltip-placement="top" uib-tooltip="上面危险色">上面</span>
								<span class="btn btn-info btn-sm tooltip-info" tooltip-placement="bottom" uib-tooltip="下面消息色">下面</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /.col -->

			<div class="col-sm-6">
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="smaller">按钮消息</h4>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<p>
								<span class="btn btn-sm" popover-title="默认" uib-popover="按钮上面显示！该警报需要你注意，但不是特别重要。注：关闭消息需要再次点击按钮。">默认</span>
								<span class="btn btn-success btn-sm popover-success" popover-placement="right" popover-title="右面成功" uib-popover="做的好！你已经成功地阅读了这条重要的警报信息。注：关闭消息需要再次点击按钮。">右面</span>
								<span class="btn btn-warning btn-sm popover-warning" popover-placement="left" popover-title="左面警告" uib-popover="警告！你最好重新检查一下。注：关闭消息需要再次点击按钮。">左面</span>
							</p>
							<p>
								<span class="btn btn-danger btn-sm popover-error" popover-placement="top" popover-title="上面危险" uib-popover="哦！请修改后，尝试重新提交。注：关闭消息需要再次点击按钮。">上面</span>
								<span class="btn btn-info btn-sm popover-info" popover-placement="bottom" popover-title="一些信息" uib-popover="按钮下面显示！该警报需要你注意，但不是特别重要。注：关闭消息需要再次点击按钮。">下面</span>
								<span class="btn btn-inverse btn-sm popover-notitle" popover-placement="bottom" uib-popover="无标题弹出！注：关闭消息需要再次点击按钮。">无标题</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

		<hr />

		<div class="row">
			<div class="col-sm-6">
				<h3 class="header smaller lighter green">
					<i class="ace-icon fa fa-bullhorn"></i>警报</h3>

				<uib-alert type="danger" close="alert.close(0)" ng-if="alert.shown[0]">
					<strong>
						<i class="ace-icon fa fa-times"></i>哦！</strong>
					请修改后，尝试重新提交。
				</uib-alert>

				<uib-alert type="warning" close="alert.close(1)" ng-if="alert.shown[1]">
					<strong>警告！</strong>
					你最好重新检查一下。
					<br />
				</uib-alert>

				<uib-alert type="success" close="alert.close(2)" ng-if="alert.shown[2]">
					<p>
						<strong>
							<i class="ace-icon fa fa-check"></i>做的好！</strong>
						你已经成功地阅读了这条重要的警报信息。
					</p>
					<p>
						<button class="btn btn-sm btn-success">做这个</button>
						<button class="btn btn-sm">或者这一个</button>
					</p>
				</uib-alert>

				<uib-alert type="info" close="alert.close(3)" ng-if="alert.shown[3]">
					<strong>Heads up!</strong>
					该警报需要你注意，但不是特别重要。
					<br />
				</uib-alert>
			</div>
			<!-- /.col -->

			<div class="col-sm-6">
				<h3 class="row header smaller lighter orange">
					<span class="col-sm-8">
						<i class="ace-icon fa fa-bell"></i>悬浮窗通知
					</span>
					<!-- /.col -->
					<span class="col-sm-4">
						<label class="pull-right inline">
							<small class="muted">亮底色:</small>
							<input ng-checked="gritter.light" ng-model="gritter.light" type="checkbox" class="ace ace-switch ace-switch-5" />
							<span class="lbl middle"></span>
						</label>
					</span>
					<!-- /.col -->
				</h3>
				<p>
					<i>点击以下按钮试试</i>
				</p>
				<p>
					<button class="btn" ng-click="gritter.show('regular')">定时</button>
					<button class="btn btn-info" ng-click="gritter.show('sticky')">重要</button>
					<button class="btn btn-success" ng-click="gritter.show('without-image')">不含图片</button>
				</p>
				<p>
					<button class="btn btn-danger" ng-click="gritter.show('error')">错误</button>
					<button class="btn btn-warning" ng-click="gritter.show('max-3')">最多3个</button>
					<button class="btn btn-primary" ng-click="gritter.show('center')">中心</button>
					<button class="btn btn-inverse" ng-click="gritter.clear()">移除</button>
				</p>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

		<hr />

		<div class="row">
			<div class="col-sm-6">
				<!-- 弹出对话框开始 -->
				<script type="text/ng-template" id="modalContent.html">
					<div class="modal-header">
						<h3 class="modal-title">弹出对话框标题</h3>
					</div>
					<div class="modal-body">
						弹出对话框内容
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary btn-sm" type="button" ng-click="ok()">确认</button>
						<button class="btn btn-default btn-sm" type="button" ng-click="cancel()">取消</button>
					</div>
				</script>
				<!-- 弹出对话框结束 -->

				<div>
					<h3 class="header smaller lighter purple">Bootstrap Modals
						<small>(Bootbox.js)</small>
					</h3>
					<p>
						<button class="btn" ng-click="openModal()">Angular Bootstrap Modal</button>
						<!--
						<button class="btn btn-success" ng-click="bootbox.show('custom')">Bootbox.js</button>
						<button class="btn" ng-click="openModal()">Regular Dialog</button>
						<button class="btn btn-info" ng-click="openModal()">Confirm</button>
						<button class="btn btn-success" ng-click="openModal()">More Options</button>
						-->
					</p>
				</div>
				<!-- /.row -->

				<div class="space-24"></div>

				<div class="row">
					<div class="col-xs-12">
						<h3 class="header smaller lighter grey">
							<i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>无图的加载图标
							<small>(spin.js)</small>
						</h3>
					</div>
					<div class="col-xs-12">
						<i>通过修改以下设置调整加载图标</i>
						<div class="pull-right center spinner-preview">
							<span us-spinner="sliderValues"></span>
						</div>
						<form class="form-horizontal" id="spinner-opts">
							<div ng-repeat="mySlider in ::sliders" ng-init="key = mySlider.key.toLowerCase()">
								<label class="inline">
									<small class="lighter inline" style="width: 60px;" ng-bind="mySlider.name+':'"></small>
									<span class="inline ui-slider-small" ng-class="[slider.getStyle($index)]" style="width:125px;" ng-model="sliderValues[key]"
									    ui-slider="{'range': 'min'}" min="{{mySlider.min}}" max="{{mySlider.max}}" step="{{mySlider.step || 1}}" use-decimals></span>
									<input type="text" ng-model="sliderValues[key]" class="hidden" />
								</label>
							</div>
						</form>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.col -->

			<div class="col-sm-6">
				<h3 class="header smaller lighter red">Bootstrap Wells</h3>
				<div class="well">
					<h4 class="green smaller lighter">普通</h4>
					使用Well作为一个简单的效果，给一个元素的插图效果。
				</div>
				<div class="well well-lg">
					<h4 class="blue">大</h4>
					使用两个可选修饰符类控制填充和圆角。
				</div>
				<div class="well well-sm">
					<h4 class="red">小</h4>
					这是一个小well。
				</div>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-sm-6">
				<h3 class="header smaller lighter green">拖动效果</h3>

				<script type="text/ng-template" id="sampleDropdownTemplate">
					<li ng-repeat="item in ::dropdown.list" ng-class="{'divider': item.divider, 'dropdown-hover': item.dropdown, 'dropup': item.dropup}">
						<a ng-if="!item.dropdown && item.text" href="" tabindex="-1" ng-bind="item.text"></a>
						<a ng-if="item.dropdown" href="" tabindex="-1" class="clearfix">
							<span class="pull-left" ng-bind="item.text"></span>
							<i class="ace-icon fa pull-right" ng-class="{'fa-caret-right': !item.dropdown.right, 'fa-caret-left': item.dropdown.right}"></i>
						</a>
						<ul ng-if="item.dropdown" ng-init="dropdown = item.dropdown" ng-include="'sampleDropdownTemplate'" class="dropdown-menu"
						    ng-class="[dropdown.type ? 'dropdown-'+dropdown.type : '', dropdown.right ? 'dropdown-menu-right': '']">
						</ul>
					</li>
				</script>

				<div class="dropdown dropdown-preview" ng-repeat="dropdown in ::sampleDropdowns">
					<ul class="dropdown-menu" ng-include="'sampleDropdownTemplate'" ng-class="[dropdown.type ? 'dropdown-'+dropdown.type : '', dropdown.right ? 'dropdown-menu-right': '']">
					</ul>
				</div>

				<div class="dropdown dropdown-preview">
					<ul class="dropdown-menu dropdown-icon-only dropdown-50 dropdown-light">
						<li class="action-buttons">
							<a href="" tabindex="-1" class="center">
								<i class="fa fa-flag blue bigger-130"></i>
							</a>
						</li>
						<li class="action-buttons">
							<a href="" tabindex="-1" class="center">
								<i class="fa fa-flag red bigger-130"></i>
							</a>
						</li>
						<li class="action-buttons">
							<a href="" tabindex="-1" class="center">
								<i class="fa fa-flag green bigger-130"></i>
							</a>
						</li>
						<li class="action-buttons">
							<a href="" tabindex="-1" class="center">
								<i class="fa fa-flag orange bigger-130"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-sm-6">
				<h3 class="row header smaller lighter blue">
					<span class="col-sm-7">
						<i class="ace-icon fa fa-th-large"></i> Pills
					</span>
					<!-- /.col -->
					<span class="col-sm-5">
						<label class="pull-right inline">
							<small class="muted">折叠:</small>
							<input ng-model="pillsStacked" type="checkbox" class="ace ace-switch ace-switch-5" />
							<span class="lbl middle"></span>
						</label>
					</span>
					<!-- /.col -->
				</h3>

				<ul class="nav nav-pills" ng-class="[pillsStacked ? 'nav-stacked': '']">
					<li class="active">
						<a href="">首页</a>
					</li>
					<li class="disabled">
						<a href="">简况</a>
					</li>
					<li>
						<a href="">消息</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>