<div class="page-header">
	<h1>排版
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>这是页标题(.page-header &lt; h1)</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">

		<div class="row">
			<div class="col-sm-6">
				<h4>标题 & 段落</h4>
				<hr />
				<h1>h1. 标题 1</h1>
				<p class="lead">
					标题1下内容。
				</p>
				<h2>h2. 标题 2</h2>
				<p>
					标题2下内容。
				</p>
				<h3>h3. 标题 3</h3>
				<p>
					标题3下内容。
				</p>
				<h4>h4. 标题 4</h4>
				<p>
					标题4下内容。
				</p>
				<h5>h5. 标题 5</h5>
				<p>
					标题5下内容。
				</p>
				<h6>h6. 标题 6</h6>
				<p>
					标题6下内容。
				</p>
			</div>
			<!-- /.col -->


			<div class="col-sm-6">
				<div class="widget-box">
					<div class="widget-header widget-header-flat">
						<h4 class="widget-title">列表</h4>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="row">
								<div class="col-sm-6">
									<ul>
										<li>无序列表项</li>
										<li>
											<small>小字体列表项</small>
										</li>
										<li>
											<b>粗体列表项</b>
										</li>
										<li>
											<i>斜体列表项</i>
										</li>

										<li>
											<ul class="list-unstyled">
												<li>
													<i class="ace-icon fa fa-caret-right blue"></i> 嵌套列表项</li>
												<li>
													<i class="ace-icon fa fa-caret-right blue"></i> 嵌套列表项</li>
												<li>
													<i class="ace-icon fa fa-caret-right blue"></i> 嵌套列表项</li>
											</ul>
										</li>

										<li>无序列表项是一个较长的项，可能会分解成更多的行。</li>
										<li>
											<strong>着重标记列表项</strong>
										</li>
										<li>
											<em>强调标签中的列表项</em>
										</li>
									</ul>
								</div>

								<div class="col-sm-6">
									<ol>
										<li>有序列表项</li>
										<li class="text-primary">.text-primary 主要有序列表项</li>
										<li class="text-danger">.text-danger 危险有序列表项</li>

										<li class="text-success">
											<b>.text-success</b> 成功有序列表项</li>
										<li class="text-warning">.text-warning 警告有序列表项</li>
										<li class="text-muted">.text-muted 低级有序列表项</li>
									</ol>
								</div>

							</div>

							<hr />

							<div class="row">
								<div class="col-xs-12">
									<ul class="list-unstyled spaced">
										<li>
											<i class="ace-icon fa fa-bell-o bigger-110 purple"></i>带有自定义图标和更多空间的列表</li>
										<li>
											<i class="ace-icon fa fa-check bigger-110 green"></i>无序列表项目 # 2</li>
										<li>
											<i class="ace-icon fa fa-times bigger-110 red"></i>无序列表项目 # 3</li>
									</ul>
									<ul class="list-unstyled spaced2">
										<li>
											<i class="ace-icon fa fa-circle green"></i>更多控件</li>
										<li class="text-warning bigger-110 orange">
											<i class="ace-icon fa fa-exclamation-triangle"></i>无序列表项目 # 5</li>
										<li class="muted">
											<i class="ace-icon fa fa-angle-right bigger-110"></i>无序列表项目 # 6</li>
										<li>
											<ul class="list-inline">
												<li>
													<i class="ace-icon fa fa-share green bigger-110"></i> 嵌套列表项目 # 1</li>
												<li>列表项目 # 2</li>
												<li>列表项目 # 3</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /.col -->
		</div>


		<hr />


		<div class="row">

			<div class="col-sm-4">
				<div class="widget-box">
					<div class="widget-header widget-header-flat">
						<h4 class="widget-title smaller">
							<i class="ace-icon fa fa-quote-left smaller-80"></i>块引入及地址</h4>
					</div>

					<div class="widget-body">
						<div class="widget-main">
							<div class="row">
								<div class="col-xs-12">
									<blockquote class="pull-right">
										<p>革命不是请客吃饭,不是作文章,不是绘画绣花,不能那样雅致,那样从容不迫,文质彬彬。那样温良恭俭让。革命是暴动。是一个阶级推翻一个阶级的暴力的行动。</p>
										<small>毛泽东
											<cite title="Source Title">《毛泽东选集》</cite>
										</small>
									</blockquote>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<blockquote>
										<p class="lighter line-height-125">
											革命不是请客吃饭,不是作文章,不是绘画绣花,不能那样雅致,那样从容不迫,文质彬彬。那样温良恭俭让。革命是暴动。是一个阶级推翻一个阶级的暴力的行动。
										</p>
										<small>
											毛泽东
											<cite title="Source Title">《毛泽东选集》</cite>
										</small>
									</blockquote>
								</div>
							</div>

							<hr />

							<address>
								<strong>Twitter, Inc.</strong>
								<br> 795 Folsom Ave, Suite 600
								<br> San Francisco, CA 94107
								<br>
								<abbr title="Phone">电话：</abbr> (123) 456-7890
							</address>
							<address>
								<strong>全名</strong>
								<br>
								<a href="mailto:#">first.last@example.com</a>
							</address>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-8">
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">

							<div class="widget-header widget-header-flat">
								<h4 class="widget-title smaller">定义列表</h4>
								<div class="widget-toolbar">
									<label>
										<small class="green">
											<b>水平</b>
										</small>
										<input ng-model="dl_horizontal" id="id-check-horizontal" type="checkbox" class="ace ace-switch ace-switch-6" />
										<span class="lbl middle"></span>
									</label>
								</div>
							</div>

							<div class="widget-body">
								<div class="widget-main">
									<code class="pull-right" id="dt-list-code">&lt;dl&gt;</code>
									<dl ng-class="{'dl-horizontal': dl_horizontal}">
										<dt>描述表</dt>
										<dd>描述表用于完美定义术语。</dd>
										<dt>第一个术语</dt>
										<dd>第一个术语定义第一行</dd>
										<dd>第一个术语定义第二行</dd>
										<dt>第二个术语</dt>
										<dd>第二个术语定义</dd>
										<dt>第三个术语</dt>
										<dd>第三个术语定义</dd>
									</dl>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="space-6"></div>

				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-header widget-header-flat">
								<h4 class="smaller">
									<i class="ace-icon fa fa-code"></i>代码视图</h4>
							</div>
							<div class="widget-body">
								<div class="widget-main">
									<pre prettify class="prettyprint linenums">
&lt;p class="muted"&gt;Fusce dapibus, tellus ac cursus commodo.&lt;/p&gt;
&lt;p class="text-warning"&gt;Etiam porta sem malesuada.&lt;/p&gt;
&lt;p class="text-error"&gt;Donec ullamcorper nulla non metus auctor fringilla.&lt;/p&gt;
&lt;p class="text-info"&gt;Aenean eu leo quam.&lt;/p&gt;
&lt;p class="text-success"&gt;Duis mollis.&lt;/p&gt;
</pre>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>