<a href="" uib-dropdown-toggle class="dropdown-toggle">
	<img class="nav-user-photo" ng-src="{{ace.path.assets}}/avatars/user.jpg" alt="Jason's Photo" />
	<span class="user-info">
		<small>欢迎光临,</small> Jason
	</span>
	<i class="ace-icon fa fa-caret-down"></i>
</a>
<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
	<li><a href=""><i class="ace-icon fa fa-cog"></i>设置</a></li>
	<li><a href="#/profile"><i class="ace-icon fa fa-user"></i>个人信息</a></li>
	<li class="divider"></li>
	<li><a href=""><i class="ace-icon fa fa-power-off"></i>退出</a></li>
</ul>
