<!-- #section:settings.box -->
<div class="btn btn-app btn-xs btn-warning ace-settings-btn" ng-class="{'open': ace.settings.is_open}" ng-click="ace.settings.open()">
	<i class="ace-icon fa fa-cog bigger-130"></i>
</div>

<div class="ace-settings-box clearfix" ng-class="{'open': ace.settings.is_open}">

	<div class="pull-left width-50">
		<!-- #section:settings.skins -->
		<div class="ace-settings-item">
			<div class="pull-left">
				<div ace-colorpicker colors="{'#438EB9': 0, '#222A2D': 1, '#C6487E': 2, '#D0D0D0': 3}" ng-model="ace.settings.skinColor"
				 ng-value="ace.settings.skinIndex"></div>
			</div>
			<span>&nbsp; 选择皮肤</span>
		</div>
		<!-- /section:settings.skins -->

		<!-- #section:settings.navbar -->
		<div class="ace-settings-item">
			<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" ng-model="ace.settings.navbar"
			/>
			<label class="lbl" for="ace-settings-navbar"> 固定导航栏</label>
		</div>
		<!-- /section:settings.navbar -->

		<!-- #section:settings.sidebar -->
		<div class="ace-settings-item">
			<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" ng-model="ace.settings.sidebar"
			/>
			<label class="lbl" for="ace-settings-sidebar"> 固定侧边栏</label>
		</div>
		<!-- /section:settings.sidebar -->

		<!-- #section:settings.breadcrumbs -->
		<div class="ace-settings-item">
			<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" ng-model="ace.settings.breadcrumbs"
			/>
			<label class="lbl" for="ace-settings-breadcrumbs"> 固定面包屑</label>
		</div>
		<!-- /section:settings.breadcrumbs -->

		<!-- #section:settings.rtl -->
		<!--
		<div class="ace-settings-item">
			<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" ng-model="ace.settings.rtl" />
			<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
		</div>
		-->
		<!-- /section:settings.rtl -->

		<!-- #section:settings.container -->
		<div class="ace-settings-item">
			<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" ng-model="ace.settings.container"
			/>
			<label class="lbl" for="ace-settings-add-container"> 窄边
				<b>容器</b>
			</label>
		</div>
		<!-- /section:settings.container -->
	</div>
	<!-- /.pull-left -->

	<div class="pull-left width-50">
		<!-- #section:basics/sidebar.options -->
		<div class="ace-settings-item">
			<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" ng-model="ace.settings.hover"
			/>
			<label class="lbl" for="ace-settings-hover"> 子菜单悬停</label>
		</div>
		<div class="ace-settings-item">
			<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" ng-model="ace.settings.compact"
			/>
			<label class="lbl" for="ace-settings-compact"> 紧凑侧边栏</label>
		</div>
		<div class="ace-settings-item">
			<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" ng-model="ace.settings.highlight"
			/>
			<label class="lbl" for="ace-settings-highlight"> 当前菜单项样式</label>
		</div>
		<!-- /section:basics/sidebar.options -->
	</div>
	<!-- /.pull-left -->

</div>
<!-- /.ace-settings-box -->
<!-- /section:settings.box -->